.ec__container {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    background: rgba(85,94,106,0.50);
    position: relative;
    min-height: 140px;
    cursor: pointer;
}

.ec__indicator {
    min-height: 140px;
    width: 6px;
    min-width: 6px;
    background-color: #E03726;
}

.ec__episode-container {
    min-height: 140px;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ec__thumbnail-component {
    min-height: 140px;
    min-width: 250px;
    position: relative;
}

.ec__thumbnail-image {
    object-fit: cover;
    min-height: 100%;
    height: 100%;
    max-width: 100%;
}

.ec__thumbnail-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ec__info-container {
    min-height: 140px;
    display: flex;
    flex-direction: column;
    padding: 30px 50px 30px 50px;
    justify-content: center;
    width: 100%;
}


/* Responsive design */
@media only screen and (max-width: 1060px) {
    .ec__container, .ec__indicator, .ec__info-container {
        min-height: 120px;
    }
    .ec__episode-container {
        min-height: 120px;
        min-width: 120px;
    }
    .ec__thumbnail-component {
        min-height: 120px;
        min-width: 233px;
    }
    .ec__info-container {
        padding: 20px 40px 20px 40px;
    }
}

@media only screen and (max-width: 965px) {
    .ec__thumbnail-component {
        min-width: 150px;
    }
    .ec__info-container {
        padding: 20px 40px 20px 40px;
    }
}

@media only screen and (max-width: 670px) {
    .ec__episode-container {
        min-width: 30%;
    }
    .ec__thumbnail-component {
        display: none;
    }
    .ec__info-container {
        padding: 30px 50px 30px 0;
    }
}