/* Override AntDesign styles for tabbar */
.ant-tabs .ant-tabs-left-bar {
    border: 0 !important;
    margin-right: 0 !important;
    margin-top: 150px;
}
.ant-tabs .ant-tabs-left-content {
    padding-left: 0 !important;
    border-left: 0 !important;
}
.ant-tabs-nav-wrap {
    font-family: 'Orbitron', sans-serif !important;
    color: #8A919A !important;
    width: 240px !important;
}
.ant-tabs-ink-bar {
    display: none !important;
}
.ant-tabs-tab-active {
    color: #E03726 !important;
    font-weight: 700 !important;
    font-size: 150% !important;
}
.ant-tabs-tab:hover {
    color: #E03726 !important;
}


.tabbar__loading-container {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Responsive design */
@media only screen and (max-width: 1060px) {
    .ant-tabs-nav-wrap {
        width: 210px !important;
    }
}

@media only screen and (max-width: 965px) {
    .ant-tabs-nav-wrap {
        width: 100% !important;
    }
    .anticon {
        color: #8A919A !important;
    }
    .ant-tabs-bar {
        border-bottom: 1px solid #8A919A !important;
    }
    .ant-tabs .ant-tabs-left-bar {
        margin-top: 0 !important;
    }
}