.ant-input {
    background-color: #414953 !important;
    color: #ffffff !important;
    text-align: right !important;
    font-family: 'Orbitron', sans-serif !important;
    font-size: 12px !important;
    line-height: normal !important;
    border: 0 !important;
}

.tab-panel__top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tab-panel__empty-container {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}