.pop-up__container {
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(100vh);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
    padding: 50px 12%;
    overflow: hidden;
    z-index: 10000000;
    background: rgba(39,45,52,0.95);
}

.pop-up__close-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    right: calc(12% - 13px);
    top: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    cursor: pointer;
}

.pop-up__thumbnail-container {
    width: 100%;
    height: 40vh;
    background-color: #3C4550;
    position: relative;
}

.pop-up__thumbnail-image {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
}

.pop-up__thumbnail-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pop-up__active {
    transform: translateY(0);
}

.pop-up__info-container {
    margin-top: 60px;
}

.pop-up__cross {
    width: 26px;
    height: 26px;
}


/* Responsive design */
@media only screen and (max-width: 767px) {
    .pop-up__thumbnail-container {
        height: 20vh;
        margin-bottom: 30px;
    }
}
