.footer__container {
    width: 100%;
    padding: 40px 0 40px 290px;
}


/* Responsive design */
@media only screen and (max-width: 1060px) {
    .footer__container {
        width: 100%;
        padding: 40px 0 40px 260px;
    }
}

@media only screen and (max-width: 965px) {
    .footer__container {
        padding: 40px 8%;
    }
}